
.w__container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
  flex-wrap: wrap;
  width: 40%;
}

.w__btn{
  height: 300px;
  border-radius: 5px;
  padding: 0 .5rem ;
  width: 3rem;
}
.w__btn:hover{
  background-color: #ffffff13;
}
.w__btn:active{
  background-color: #ffffff0b;
}

.w__img{
  height: 300px;
  width: 300px;
}

.w__title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 48px;
  text-align: center;
  width: 100%;
}